{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<br>
<br>
<br>
<br>
<br>
<br>
<div class="flex justify-center items-center h-screen">
  <iframe src="https://embed.lottiefiles.com/animation/133529" class="flex justify-center "></iframe>
</div>

<!--<h1 class="text-6xl font-bold tracking-tight animate-bounce text-yellow-500">NO DATA FOUND</h1>-->
<!--<video src="https://d-id-talks-prod.s3.us-west-2.amazonaws.com/google-oauth2%7C101776856581050045907/tlk_4HdiAN0gHzQ3SBEC1YuER/christian-buehner-DIt-Ylc26z-VI-unsplash-1.mp4?AWSAccessKeyId=AKIA5CUMPJBIK65W6FGA&Expires=1681532734&Signature=lj5cWos38im7YYeF3D62A%2F0PyUg%3D" autoplay controls>
  Your browser does not support the video tag.
</video>-->






      {% include "includes/footer.html" %}


{% endblock content %}

